body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: none;
  background-color: #eaeced;
  margin: 0px; }

.wrapper {
  max-width: 1600px;
  height: 1000px;
  margin: 0 auto;
  text-align: center; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

#slider {
  position: absolute; }

#logo-principal {
  float: left;
  margin-top: 50px;
  margin-left: 200px;
  position: relative; }

#menu {
  float: left;
  margin-top: 50px;
  margin-left: 949px;
  position: relative; }

#menu a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  border-bottom: 1px solid white;
  border-top: 1px solid white; }

#text-image {
  float: right;
  position: relative; }

#text-image h2 {
  color: white;
  text-transform: uppercase;
  margin-top: 300px;
  margin-right: 200px;
  font-size: 160px;
  font-weight: lighter; }

#text-image p {
  float: left;
  font-size: 57px;
  color: white;
  margin-top: -150px;
  margin-right: 200px;
  font-weight: bold; }

.wrapper-2 {
  max-width: 1600px;
  height: 669px;
  margin: 0 auto; }

#main-container {
  margin-bottom: 102px; }

#first-box h2 {
  color: black;
  font-size: 48px;
  font-weight: lighter;
  text-align: center; }

#first-box h3 {
  color: black;
  font-size: 48px;
  font-weight: medium;
  margin-top: -30px;
  text-align: center;
  margin-bottom: 50px; }

#first-box p {
  color: black;
  font-size: 16px;
  margin-top: -20px;
  margin: 0 auto;
  font-weight: normal;
  text-align: center;
  width: 600px;
  margin-bottom: 42px; }

hr {
  height: 2px;
  width: 5%;
  background-color: black;
  margin: 0% 47.313% 3.75% 47.438%; }

#second-box {
  margin-top: 40px;
  width: 948px;
  margin: 0 auto; }

#second-box p {
  color: black;
  font-weight: lighter;
  font-size: 18px;
  text-align: center; }

.wrapper-3 {
  max-width: 1600px;
  margin: 0 auto; }

#boxes-quotes {
  max-width: 1600px;
  height: 650px;
  margin: 0 auto;
  background-color: #ffeae2; }

#quote-box-1 {
  display: inline-block;
  float: left;
  max-width: 800px;
  height: 650px; }

#quote-box-1 p {
  font-size: 28px;
  font-weight: bold;
  color: black;
  width: 500px;
  height: 250px;
  margin-left: 100px;
  padding-top: 100px; }

#quote-box-1 h3 {
  font-size: 28px;
  font-weight: lighter;
  color: black;
  padding-top: 40px;
  margin-left: 100px; }

#image-box-2 img {
  display: flex;
  float: right; }

.wrapper-4 {
  max-width: 1600px;
  height: 1165px;
  margin: 0 auto; }

#info-content h2 {
  font-size: 45px;
  margin-top: 140px;
  margin-left: 100px;
  margin-bottom: 44px; }

#line-reasos {
  height: 2px;
  width: 5%;
  margin-left: 100px; }

#quotes-boxes-1 {
  float: left;
  margin-left: 100px;
  width: 700px;
  height: 578px; }

#quotes-boxes-2 {
  float: right;
  margin-right: 100px;
  width: 700px;
  height: 578px; }

.box-column-1 {
  border: solid 1px black;
  height: 298px; }

.box-column-1 h4 {
  margin-left: 50px;
  margin-top: 54px;
  margin-bottom: 45px;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase; }

.box-column-1 p {
  margin-left: 50px; }

.box-column-1 h3 {
  margin-left: 50px;
  font-style: italic;
  font-weight: lighter; }

.box-column-2 {
  border: solid 1px black;
  height: 298px; }

.box-column-2 h4 {
  margin-left: 50px;
  margin-top: 54px;
  margin-bottom: 45px;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase; }

.box-column-2 p {
  margin-left: 50px; }

.box-column-2 h3 {
  margin-left: 50px;
  font-style: italic;
  font-weight: lighter; }

#button-container {
  float: left;
  margin-top: 20px;
  height: 200px;
  width: 1600px; }

#button {
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 87px;
  text-align: center;
  text-decoration: none; }

#button a {
  color: black;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  padding: 22px 40px 22px 40px;
  border: 2px solid black;
  border-radius: 8px; }

.wrapper-5 {
  max-width: 1600px;
  height: 669px;
  margin: 0 auto; }

#quote-image img {
  position: absolute; }

#quote-image p {
  font-size: 45px;
  width: 829px;
  color: white;
  font-weight: bold;
  text-align: center;
  padding-top: 200px;
  padding-left: 369px;
  position: relative; }

#description p {
  font-weight: lighter;
  font-size: 16px;
  width: 829px;
  color: white;
  padding-top: 50px;
  padding-left: 400px;
  position: relative; }

#description p a {
  font-weight: lighter;
  color: white; }

.wrapper-6 {
  max-width: 1600px;
  height: 1337px;
  margin: 0 auto; }

#title-box h2 {
  font-size: 45px;
  margin-top: 140px;
  margin-left: 100px;
  margin-bottom: 44px; }

#lineblack {
  height: 2px;
  width: 5%;
  margin-left: 100px; }

#columns-posters {
  width: 1400px;
  margin: 0 auto; }

#column-1 {
  float: left;
  height: 742px; }

#column-2 {
  float: right;
  width: 742px;
  height: 742px; }

#img-03 {
  float: right;
  margin-top: 40px;
  margin-left: 16px; }

#img-02 {
  margin-top: 40px; }

#button-poster {
  float: left;
  margin-top: 20px;
  height: 200px;
  width: 1600px; }

#button-02 {
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 87px;
  text-align: center;
  text-decoration: none; }

#button-02 a {
  color: black;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  padding: 22px 40px 22px 40px;
  border: 2px solid black;
  border-radius: 8px; }

.wrapper-7 {
  max-width: 1600px;
  height: 540px;
  margin: 0 auto;
  background-color: white; }

#browse {
  float: left;
  width: 400px;
  height: 540px; }
  #browse h2 {
    padding-left: 40px; }
  #browse ul {
    text-transform: uppercase;
    list-style: none;
    padding-top: 20px; }
  #browse li {
    margin-top: 10px; }

#shop {
  float: left;
  width: 400px;
  height: 540px; }
  #shop h2 {
    padding-left: 40px; }
  #shop ul {
    text-transform: uppercase;
    list-style: none;
    padding-top: 20px; }
  #shop li {
    margin-top: 10px; }

#contact {
  float: left;
  width: 400px;
  height: 540px; }
  #contact p {
    width: 250px; }

#subscribe-now {
  float: left;
  width: 400px;
  height: 540px; }
  #subscribe-now p {
    width: 250px; }
  #subscribe-now #button-submit-01 {
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 87px;
    text-align: center;
    text-decoration: none; }
  #subscribe-now #button-submit-01 a {
    color: black;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    border: 2px solid black;
    border-radius: 8px; }

.wrapper-8 {
  max-width: 1600px;
  height: 90px;
  margin: 0 auto; }

#footer p {
  float: left;
  font-weight: lighter;
  margin-top: 30px;
  margin-left: 100px; }

#footer img {
  float: right;
  font-weight: lighter;
  margin-top: 30px;
  margin-right: 100px; }
